---
# Index styles
---

@import "colors";
@import "gradient";

.page {
    width: 100%;
    height: 100%;
}

.sideNav {
    width: 70px;
    height: 100%;
    position: fixed;
    left:0;

    .sideNav-button {
        width: 100%;
        height: 50%;
        font-size: 32px;
        text-align: center;
        white-space: nowrap;
        cursor: pointer;
        color: color($grey, 500);
        transition: color 0.2s, background-color 0.2s;
        background-color: color($grey, 800);

        &:hover {
            color: color($grey, 400);
            background-color: color($grey, 700);
        }

        &:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            margin-right: -0.25em;
        }

        &.active {
            background-color: color($green, 600);
            color: color($grey, 800);

            &:hover {
                background-color: color($green, 500);
            }
        }

        .glyphicon {
            display: inline-block;
            vertical-align: middle;
        }
    }
}

.scrollSnap-container {
    height: 100%;
    width: calc(100% - 70px);
    position: fixed;
    right:0;
    overflow-y: scroll;
}

.home {
    //background-image: url("/assets/homepage_background.png");
    //background-position: center center;
    //background-size: cover;
    //background-attachment: fixed;

    .welcome-text {
        text-align: center;
        color: color($grey, 800);
        padding-bottom: 28px;

        h1 {
            font-size: 110px;
            margin: 0;
        }

        h3 {
            font-size: 24px;
        }
    }
}

.about {

    padding: 24px;
    box-sizing: border-box;
    //box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.25);

    @include background-gradient(color($grey, 200), color($grey, 300));

    h1 {
        font-weight: bold;
        margin-bottom: 12px;
    }

    hr {
        border-color: #CCC;
    }

    .about-info-top {
        margin-bottom: 12px;
    }

}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;

    .middle {
        display: table-cell;
        vertical-align: middle;

        .inner {
            margin-left: auto;
            margin-right: auto;
            width: 100%;
        }
    }
}
