---
# Index styles
---

@import "colors";
@import "gradient";

.page {
    width: 100%;
    height: 100%;
}

.sideNav {
    width: 70px;
    height: 100%;
    position: fixed;
    left:0;

    .sideNav-button {
        width: 100%;
        height: 33.33333333%;
        font-size: 32px;
        text-align: center;
        white-space: nowrap;
        cursor: pointer;
        transition: color 0.2s, background-color 0.2s;
        box-shadow: inset -7px 0 9px -7px rgba(0,0,0,0.7);

        color: color($grey, 500);
        background-color: color($grey, 800);
        &:hover {
            color: color($grey, 400);
            background-color: color($grey, 700);
        }

        &.active {
            background-color: color($green, 600);
            color: color($grey, 800);

            &.button-about {
                background-color: color($light-blue, 600);
                &:hover {
                    background-color: color($light-blue, 500);
                }
            }

            &.button-projects {
                background-color: color($red, 600);
                &:hover {
                    background-color: color($red, 500);
                }
            }

            &:hover {
                background-color: color($green, 500);
            }
        }

        // Fix Glyphicons
        &:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            margin-right: -0.25em;
        }
        .glyphicon {
            display: inline-block;
            vertical-align: middle;
        }

    }
}

.scrollSnap-container {
    height: 100%;
    width: calc(100% - 70px);
    position: fixed;
    right:0;
    overflow-y: scroll;
    overflow-x: hidden;
}

#home {

    @include background-gradient(color($grey, 100), color($grey, 50));

    .welcome-text {
        text-align: center;
        color: color($grey, 800);
        padding-bottom: 28px;
        display: inline-block;
        width: 100%;
        z-index: 1;

        h1 {
            margin: 0;
            color: color($green, 500);
            font-size: 6em;
        }

        h3 {
            font-size: 1.75em;
        }

        @media screen and (max-width: 466px) {
            h1 {
                font-size: 16vw;
            }
            h3 {
                font-size: 5vw;
            }
        }
    }

    #home-bg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 1;
    }
}

#about {

    padding: 24px;
    box-sizing: border-box;
    position: relative;
    //box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.25);

    @include background-gradient(color($grey, 300), color($grey, 200));
    color: color($grey, 800);

    h1 {
        font-weight: bold;
        font-size: 3em;
        margin: 0;
    }

    h2 {
        margin-bottom: 24px;
    }

    strong {
        color: color($light-blue, 500);
    }

    hr {
        border-color: color($grey, 300);
    }

    ul {
        margin-left: 18px;
    }

    .about-info-top {
        margin-bottom: 12px;
    }

    a {
        text-decoration: none;
    }

    .about-footer {
        position: absolute;
        bottom: 0;
    }

    .about-button {
        width: 100%;
        text-align:center;
    	  font-weight: 400;
        padding: 12px 0;
        margin-bottom: 6px;
        border: 1px solid color($grey, 400);
        color: color($grey, 700);
    	  cursor:pointer;
    	  overflow:hidden;
    	  position:relative;
        z-index: 0;
        border-radius: 3px;
        font-weight: 500;
        font-size: 1.25em;

    	  transition:         .1s;
    	  -moz-transition:    .1s;
    	  -webkit-transition: .1s;
    	  -o-transition:      .1s;

        &:hover {
            background-color: color($blue, 300);
            color: color($grey, 800);
            text-decoration: none;
            border-color: transparent;
        }
    }

    .button-watermark {
    	position:absolute;
    	top:50%;
    	margin-top:-22px;
    	left:50%;
    	margin-left:-22px;
    	z-index: -1;
    	opacity: 0.1;
    	transition:         .75s;
    	-moz-transition:    .75s;
    	-webkit-transition: .75s;
    	-o-transition:      .75s;
    }

}

#projects {
    padding: 24px;
    // background-color: color($grey, 50);
    @include background-gradient(color($grey, 50), color($grey, 300));
    color: color($grey, 800);

    h1 {
        margin: 12px 0 0 24px;
        font-weight: bold;
        font-size: 3em;
    }

    .vertical-center-child {
        text-align: center;
        width: 100%;
        font-size: 2em;
        font-weight: 300;
    }

    .foreground {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 1;
    }

    #projects-bg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.3;
    }
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;

    .middle {
        display: table-cell;
        vertical-align: middle;

        .inner {
            margin-left: auto;
            margin-right: auto;
            width: 100%;
        }
    }
}
