---
layout: default
extra_css:
    - /css/external/bootstrap.min.css
    - http://fonts.googleapis.com/css?family=Bree+Serif
    - /css/index.css
extra_js:
    - https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js
    - /scripts/external/jquery-ui.min.js
    - /scripts/scrollSnap.js
    - /scripts/sideNav.js
    - /scripts/index.js
---

<div class="sideNav">
    <div class="sideNav-button active">
        <span class="glyphicon glyphicon-home"></span>
    </div>
    <div class="sideNav-button">
        <span class="glyphicon glyphicon-user"></span>
    </div>
</div>

<div class="scrollSnap-container">

    {% include pages/home.html %}

    {% include pages/about.html %}

</div>
