<div id="projects" class="page">
    <div class="foreground">
        <div class="vertical-center projects-grid row">

            <h2>Projects</h2>
            <p>Some selected example projects I've been working on:</p>

            <a href="http://edge.rit.edu/edge/P16241/public/Home">
                <div class="project-button">
                    <div class="project-button-content">
                        <h3>Senior Design</h3>
                        <h4>Autonomous People Mover (Golf Cart)</h4>
                    </div>
                    <img src="/assets/projects/rit_logo.png">
                </div>
            </a>

            <a href="/content/freescalecup_report_public_no_code.pdf">
                <div class="project-button">
                    <div class="project-button-content">
                        <h3>Freescale Cup (2015)</h3>
                        <h4>Autonomous Car Racing</h4>
                    </div>
                    <img src="/assets/projects/freescale_logo.png">
                </div>
            </a>

            <a href="https://github.com/codysmithd/SAIL">
                <div class="project-button">
                    <div class="project-button-content">
                        <h3>SAIL</h3>
                        <h4>Conversational AI</h4>
                    </div>
                    <img src="/assets/projects/sail_logo.png">
                </div>
            </a>

            <a href="https://github.com/codysmithd/PyGPS">
                <div class="project-button">
                    <div class="project-button-content">
                        <h3>PyGPS</h3>
                        <h4>Python NMEA data wrapper and utility</h4>
                    </div>
                </div>
            </a>

            <div class="row" style="margin-top: 24px">
                <h2>Example Writing</h2>
                <p>The following are some selected examples of my technical writing:</p>
                <div class="col-sm-4">
                    <a href="/content/cmpe685_project2_smith.pdf">CMPE685: Color and Texture Features</a>
                </div>
                <div class="col-sm-4">
                    <a href="/content/engl361_manual_smith.pdf">ENGL361: New Student Manual</a>
                </div>
                <div class="col-sm-4">
                    <a href="/content/RhetoricalAnalysisMemo.pdf">ENGL361: Rhetorical Analysis Memorandum</a>
                </div>
                <div class="col-sm-4">
                    <a href="/content/ExtendedDefinitionAssignment_Smith.pdf">ENGL361: Extended Definition Assignment</a>
                </div>
                <div class="col-sm-4">
                    <a href="/content/engl361_homework4.pdf">ENGL361: Homework 4, How to Change a Car Tire</a>
                </div>

            </div>

        </div>

    </div>
    <canvas id="projects-bg"></canvas>
</div>
