<div id="projects" class="page">
    <div class="foreground">
        <h1>Projects</h1>
        <div class="vertical-center projects-grid row">

            <a href="http://edge.rit.edu/edge/P16241/public/Home">
                <div class="project-button">
                    <div class="project-button-content">
                        <h3>Senior Design</h3>
                        <h4>Autonomous People Mover (Golf Cart)</h4>
                    </div>
                    <img src="/assets/projects/rit_logo.png">
                </div>
            </a>

            <a href="/content/freescalecup_report_public_no_code.pdf">
                <div class="project-button">
                    <div class="project-button-content">
                        <h3>Freescale Cup (2015)</h3>
                        <h4>Autonomous Car Racing</h4>
                    </div>
                    <img src="/assets/projects/freescale_logo.png">
                </div>
            </a>

            <a href="http://zipty.org/">
                <div class="project-button">
                    <div class="project-button-content">
                        <h3>Zipty</h3>
                        <h4>Javascript component packaging</h4>
                    </div>
                    <img src="/assets/projects/zipty_logo.png">
                </div>
            </a>

            <a href="https://github.com/codysmithd/SAIL">
                <div class="project-button">
                    <div class="project-button-content">
                        <h3>SAIL</h3>
                        <h4>Conversational AI</h4>
                    </div>
                    <img src="/assets/projects/sail_logo.png">
                </div>
            </a>

        </div>
    </div>
    <canvas id="projects-bg"></canvas>
</div>
